*.class
/target/
.classpath
.project
.settings/
/.idea/
/log/
*.log
*.log.*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
.settings
output/
.DS_Store
.classpath
.out.txt.crc
.project

#IntelliJ Files
*.iml
